@import '~bpk-mixins';

@mixin container {
  max-width: $bpk-breakpoint-desktop;
  margin: 0 auto;
}



.App {
  text-align: center;

  &__header {
    padding: $bpk-spacing-lg * 2;
    background-color: $bpk-color-sky-blue;
    background-image: $bpk-primary-gradient;
    color: $bpk-color-white;

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-xl;
    }
  }

  &__header-inner {
    @include container;
  }

  &__main {
    padding: $bpk-spacing-xl;

    @include container;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base;
    }
    &__dateInput{
      color: green;
    }
  }

  &__heading {
    margin-bottom: $bpk-spacing-sm;
  }

  &__text {
    margin-bottom: $bpk-spacing-sm;
  }

  // &__calendarinput {
  //   width 
  // }

  &__calendar{
    color: $bpk-primary-gradient;
    width : 100%;
    outline: $bpk-primary-gradient;
    margin-left : 2.5%;
    margin-top: 1%;
  }

  &__calbutton{
    margin: 2.5%;
  }




  
}
